In [3]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
import matplotlib.pyplot as plt
import pandas as pd
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from sqlalchemy import create_engine, MetaData, Table, Column, String, Float, Integer, Date, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session, relationship
from sqlalchemy import create_engine
from datetime import datetime, timedelta
import json
import re
import pandas as pd
import numpy as np
from functools import reduce
import requests
import warnings
warnings.filterwarnings('ignore')
from sqlalchemy import func

In [4]:
browser = Browser('chrome')
url = "https://housesigma.com/listings/watched-area-and-community"
browser.visit(url)
html = browser.html
soup_obj = soup(html, 'html.parser')

In [5]:
browser.execute_script('document.querySelector(".app-btn.hs_btn_login_start").click();')

email_input = WebDriverWait(browser.driver, 10).until(
    EC.element_to_be_clickable((By.CSS_SELECTOR, '.form-input.medium.clear.input input[type="email"]'))
)
email = 'qwerty.kitten.m@gmail.com'
passw = 'Bootcamp2024*'
login = (email) 
email_input.send_keys(login)

In [6]:
password_input = WebDriverWait(browser.driver, 10).until(
    EC.element_to_be_clickable((By.CSS_SELECTOR, '.form-input.medium.clear.input input[type="password"]'))
)
password = (passw) 
password_input.send_keys(password)

In [7]:
button = browser.find_by_css('.app-btn.hs_btn_login_submit_email').first
button.click()

In [8]:
browser.is_element_present_by_css('.pc-listing-card', wait_time=10)
html = browser.html
soup_obj = soup(html, 'html.parser')

In [9]:
data_list = []  

articles = soup_obj.find_all('article', class_='pc-listing-card')

for article in articles:
    data = {}

    # Address
    address_element = article.find('h3', class_='address')
    data['Address'] = address_element.text.strip() if address_element else None

    # Neighbourhood
    text1_element = article.find('span', class_='text1')
    data['Neighbourhood'] = text1_element.text.strip() if text1_element else None

    json_scripts = article.find_all('script', class_='hs-script-home-struct', type='application/ld+json')


    for script in json_scripts:
        json_data = script.string
        if json_data:
            json_dict = json.loads(json_data)
            
            # Long and Lat and floor size
            if 'floorSize' in json_dict:
                data['Floor Size'] = json_dict['floorSize']['value']
            if 'geo' in json_dict:
                data['Latitude'] = json_dict['geo']['latitude']
                data['Longitude'] = json_dict['geo']['longitude']

    # Date 
    date_preview_element = article.find('div', class_='date-preview')
    data['Date of Status'] = date_preview_element.text.strip() if date_preview_element else None

    # Price
    highlight_element = article.find('span', class_='highlight')
    data['Price Listed'] = highlight_element.text.strip() if highlight_element else None
   
    # Status
    status_element = article.select_one('div[class^="status-type"]')
    data['Status'] = status_element.text.strip() if status_element else None

    # Sold Price (if status is "Sold" or "Sold Conditional")
    if data['Status'] in ["Sold", "Sold Conditional"]:
        sold_price_element_special = article.select_one('div.price-area span.special')
        sold_price_element_highlight_special = article.select_one('div.price-area span.highlight.special')

        if sold_price_element_special:
            data['Sold Price'] = sold_price_element_special.text.strip()
        elif sold_price_element_highlight_special:
            data['Sold Price'] = sold_price_element_highlight_special.text.strip()
        else:
            data['Sold Price'] = None
    else:
        data['Sold Price'] = 0
    
    # Type of house
    type_element = article.find('p', class_='type')
    data['Type of House'] = type_element.text.strip() if type_element else None

    p_elements = article.find_all('p')
    for p in p_elements:
        text = p.get_text()

        # Bathroom
        if re.search(r'\b(?:bathroom)\b', text):
            bathroom_info = re.findall(r'\d+', text)
            if bathroom_info:
                data['Bathrooms'] = int(bathroom_info[0])  # Convert to integer if not empty

        # Bedroom
        if re.search(r'\b(?:bedroom)\b', text):
            bedroom_info = re.findall(r'\d+', text)
            if bedroom_info:
                data['Bedrooms'] = int(bedroom_info[0])  # Convert to integer if not empty
        
        # Garage
        if re.search(r'\b(?:garage)\b', text):
            garage_info = re.findall(r'\d+', text)
            if garage_info:
                data['Garage'] = int(garage_info[0])  # Convert to integer if not empty
                
    data_list.append(data)

for i, data in enumerate(data_list, 1):
    print(f"{i}: {data}")

1: {'Address': '408 - 2391 Central Park Dr , Oakville - River Oaks', 'Neighbourhood': 'River Oaks', 'Floor Size': 549, 'Latitude': -79.71998, 'Longitude': 43.48035, 'Date of Status': '14 minutes ago', 'Price Listed': '$480,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Condo Apt', 'Bedrooms': 1, 'Bathrooms': 1, 'Garage': 1}
2: {'Address': '719 - 405 Dundas St , Oakville - Rural Oakville', 'Neighbourhood': 'Rural Oakville', 'Floor Size': 949, 'Latitude': -79.7419, 'Longitude': 43.46816, 'Date of Status': '2 hours ago', 'Price Listed': '$750,000', 'Status': 'Terminated', 'Sold Price': 0, 'Type of House': 'Condo Apt', 'Bedrooms': 2, 'Bathrooms': 2, 'Garage': 1}
3: {'Address': '3078 Ingleton Lane , Oakville - Palermo West', 'Neighbourhood': 'Palermo West', 'Floor Size': 2250, 'Latitude': -79.7653, 'Longitude': 43.42517, 'Date of Status': '2 hours ago', 'Price Listed': '$1,963,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Detached', 'Bedrooms': 4, 'Bathrooms': 3, 'Garage': 2}
4: {'Address': '2380 Proudfoot Tr , Oakville - West Oak Trails', 'Neighbourhood': 'West Oak Trails', 'Floor Size': 1750, 'Latitude': -79.75034, 'Longitude': 43.45252, 'Date of Status': '3 hours ago', 'Price Listed': '$1,299,900', 'Status': 'Sold Conditional', 'Sold Price': '$1,299,900', 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 4, 'Garage': 1}
5: {'Address': '3118 Victoria St N , Oakville - Bronte West', 'Neighbourhood': 'Bronte West', 'Floor Size': 5000, 'Latitude': -79.71738, 'Longitude': 43.38859, 'Date of Status': '4 hours ago', 'Price Listed': '$3,499,900', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Detached', 'Bedrooms': 6, 'Bathrooms': 6, 'Garage': 2}
6: {'Address': '411 Hardwick Common , Oakville - Uptown Core', 'Neighbourhood': 'Uptown Core', 'Floor Size': 1750, 'Latitude': -79.72213, 'Longitude': 43.4939, 'Date of Status': '4 hours ago', 'Price Listed': '$1,299,999', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Freehold Townhouse', 'Bedrooms': 3, 'Bathrooms': 3, 'Garage': 1}
7: {'Address': '3118 Victoria Street , Oakville - Bronte West', 'Neighbourhood': 'Bronte West', 'Floor Size': 5000, 'Latitude': -79.716747, 'Longitude': 43.389505, 'Date of Status': '4 hours ago', 'Price Listed': '$3,499,900', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Single Family Residence', 'Bedrooms': 4, 'Bathrooms': 7, 'Garage': 2}
8: {'Address': '119 - 2490 Old Bronte Rd , Oakville - West Oak Trails', 'Neighbourhood': 'West Oak Trails', 'Floor Size': 549, 'Latitude': -79.77578, 'Longitude': 43.43419, 'Date of Status': '5 hours ago', 'Price Listed': '$585,000', 'Status': 'Terminated', 'Sold Price': 0, 'Type of House': 'Condo Apt', 'Bedrooms': 1, 'Bathrooms': 1, 'Garage': 1}
9: {'Address': '309 - 3005 Pine Glen Rd , Oakville - Palermo West', 'Neighbourhood': 'Palermo West', 'Floor Size': 549, 'Latitude': -79.77346, 'Longitude': 43.43307, 'Date of Status': '12 hours ago', 'Price Listed': '$565,000', 'Status': 'For Sale', 'Sold Price': 0, 'Type of House': 'Condo Apt', 'Bedrooms': 1, 'Bathrooms': 1, 'Garage': 1}
10: {'Address': '412 - 1490 Bishops Gate , Oakville - Glen Abbey', 'Neighbourhood': 'Glen Abbey', 'Floor Size': 1299, 'Latitude': -79.7395, 'Longitude': 43.43991, 'Date of Status': '14 hours ago', 'Price Listed': '$735,000', 'Status': 'Expired', 'Sold Price': 0, 'Type of House': 'Condo Apt', 'Bedrooms': 3, 'Bathrooms': 2, 'Garage': 2}

In [10]:
def convert_relative_timestamp(relative_timestamp):
    if " hours ago" in relative_timestamp:
        hours = int(relative_timestamp.split()[0])
        absolute_timestamp = datetime.now() - timedelta(hours=hours)
        return absolute_timestamp.date()
    elif " days ago" in relative_timestamp:
        days = int(relative_timestamp.split()[0])
        absolute_timestamp = datetime.now() - timedelta(days=days)
        return absolute_timestamp.date()
    else:
        return datetime.now().date()


df = pd.DataFrame(data_list)
df['City'] = df['Address'].str.split(',').str[1].str.split(' - ').str[0]
df['Address'] = df['Address'].str.split(',').str[0]
df['Date of Status'] = df['Date of Status'].apply(convert_relative_timestamp)

df['Sold Price'] = df['Sold Price'].str.replace('$', '').str.replace(',', '').astype(float)
df['Price Listed'] = df['Price Listed'].str.replace('$', '').str.replace(',', '').astype(float)
df

,Address,Neighbourhood,Floor Size,Latitude,Longitude,Date of Status,Price Listed,Status,Sold Price,Type of House,Bedrooms,Bathrooms,Garage,City
0,408 - 2391 Central Park Dr,River Oaks,549,-79.719980,43.480350,2024-02-04,480000.0,For Sale,NaN,Condo Apt,1,1,1,Oakville
1,719 - 405 Dundas St,Rural Oakville,949,-79.741900,43.468160,2024-02-04,750000.0,Terminated,NaN,Condo Apt,2,2,1,Oakville
2,3078 Ingleton Lane,Palermo West,2250,-79.765300,43.425170,2024-02-04,1963000.0,For Sale,NaN,Detached,4,3,2,Oakville
3,2380 Proudfoot Tr,West Oak Trails,1750,-79.750340,43.452520,2024-02-04,1299900.0,Sold Conditional,1299900.0,Detached,3,4,1,Oakville
4,3118 Victoria St N,Bronte West,5000,-79.717380,43.388590,2024-02-04,3499900.0,For Sale,NaN,Detached,6,6,2,Oakville
5,411 Hardwick Common,Uptown Core,1750,-79.722130,43.493900,2024-02-04,1299999.0,For Sale,NaN,Freehold Townhouse,3,3,1,Oakville
6,3118 Victoria Street,Bronte West,5000,-79.716747,43.389505,2024-02-04,3499900.0,For Sale,NaN,Single Family Residence,4,7,2,Oakville
7,119 - 2490 Old Bronte Rd,West Oak Trails,549,-79.775780,43.434190,2024-02-04,585000.0,Terminated,NaN,Condo Apt,1,1,1,Oakville
8,309 - 3005 Pine Glen Rd,Palermo West,549,-79.773460,43.433070,2024-02-04,565000.0,For Sale,NaN,Condo Apt,1,1,1,Oakville
9,412 - 1490 Bishops Gate,Glen Abbey,1299,-79.739500,43.439910,2024-02-04,735000.0,Expired,NaN,Condo Apt,3,2,2,Oakville

In [92]:
weather_data_oakville = 'Resources/Oakville_Historical_Weather.csv'
selected_columns = ['HEATING_DEGREE_DAYS', 'MIN_TEMPERATURE','LOCAL_DATE', 'STATION_NAME', 'COOLING_DEGREE_DAYS', 'LOCAL_MONTH', 'LOCAL_DAY', 'LOCAL_YEAR', 'TOTAL_PRECIPITATION', 'SNOW_ON_GROUND', 'MEAN_TEMPERATURE', 'TOTAL_SNOW', 'TOTAL_RAIN', 'MAX_TEMPERATURE', 'ID']
df_weather = pd.read_csv(weather_data_oakville, usecols=selected_columns, encoding="ISO-8859-1", on_bad_lines='skip', low_memory=True, engine='python')
df_weather = df_weather.dropna(subset=['MIN_TEMPERATURE'])
df_weather = df_weather.reset_index(drop=True)
columns_to_fill = ['HEATING_DEGREE_DAYS', 'MIN_TEMPERATURE', 'COOLING_DEGREE_DAYS', 
                   'TOTAL_PRECIPITATION', 'SNOW_ON_GROUND', 'MEAN_TEMPERATURE', 
                   'TOTAL_SNOW', 'TOTAL_RAIN', 'MAX_TEMPERATURE']
df_weather[columns_to_fill] = df_weather[columns_to_fill].fillna(0)
df_weather['LOCAL_DATE'] = pd.to_datetime(df_weather['LOCAL_DATE']).dt.date
df_weather.sample(10)

,HEATING_DEGREE_DAYS,MIN_TEMPERATURE,LOCAL_DATE,STATION_NAME,COOLING_DEGREE_DAYS,LOCAL_MONTH,LOCAL_DAY,LOCAL_YEAR,TOTAL_PRECIPITATION,SNOW_ON_GROUND,MEAN_TEMPERATURE,TOTAL_SNOW,TOTAL_RAIN,MAX_TEMPERATURE,ID
2077,21.3,-10.5,1996-02-07,OAKVILLE GERARD,0.0,2,7,1996,0.2,3.0,-3.3,0.2,0.0,4.0,6155PD4.1996.2.7
4651,13.2,1.0,2003-04-18,OAKVILLE GERARD,0.0,4,18,2003,1.0,0.0,4.8,0.0,1.0,8.5,6155PD4.2003.4.18
401,3.2,13.5,1991-05-26,OAKVILLE GERARD,0.0,5,26,1991,10.6,0.0,14.8,0.0,10.6,16.0,6155PD4.1991.5.26
4558,25.0,-9.0,2003-01-15,OAKVILLE GERARD,0.0,1,15,2003,0.0,7.0,-7.0,0.0,0.0,-5.0,6155PD4.2003.1.15
4439,0.0,13.0,2002-09-18,OAKVILLE GERARD,1.0,9,18,2002,0.0,0.0,19.0,0.0,0.0,25.0,6155PD4.2002.9.18
2897,5.5,11.5,1998-05-10,OAKVILLE GERARD,0.0,5,10,1998,29.4,0.0,12.5,0.0,29.4,13.5,6155PD4.1998.5.10
5458,0.0,13.0,2005-07-29,OAKVILLE GERARD,2.5,7,29,2005,0.0,0.0,20.5,0.0,0.0,28.0,6155PD4.2005.7.29
3575,10.0,3.5,2000-03-22,OAKVILLE GERARD,0.0,3,22,2000,0.0,0.0,8.0,0.0,0.0,12.5,6155PD4.2000.3.22
2887,4.2,7.5,1998-04-30,OAKVILLE GERARD,0.0,4,30,1998,0.0,0.0,13.8,0.0,0.0,20.0,6155PD4.1998.4.30
5637,17.4,-4.1,2006-01-24,OAKVILLE GERARD,0.0,1,24,2006,1.9,0.0,0.6,1.1,0.8,5.2,6155PD4.2006.1.24

In [52]:
Base = declarative_base()

In [151]:
Base = declarative_base()
Base.metadata.clear()
Base.metadata.drop_all(engine)

In [152]:
class House(Base):
    __tablename__ = 'houses'
    id = Column(Integer, primary_key=True)
    address = Column(String)
    status = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    floor_size = Column(Integer)
    bedrooms = Column(Integer)  
    bathrooms = Column(Integer) 
    garage = Column(Integer)
    city = Column(String)
    type_of_house = Column(String)  
    date_listed = Column(Date)
    neighbourhood = Column(String)
    price_listed = Column(Float)


class Sold(Base):
    __tablename__ = 'sold'
    id = Column(Integer, primary_key=True)
    address = Column(String, ForeignKey('houses.address'))
    price = Column(Float)
    status = Column(String)
    date_listed = Column(Date)
    sold_price = Column(Float)
    type_of_house = Column(String)  
    city = Column(String)
    neighbourhood = Column(String)

In [153]:
engine = create_engine('sqlite:///housing_sales.db')
Base = declarative_base()
Base.metadata.drop_all(engine)
Base.metadata.create_all(engine)
session = Session(bind=engine)

In [154]:
for data in data_list:
    address = data.get('Address')
    if address:
        house_exists = session.query(House).filter_by(address=address).first()

    if house_exists:
        house_exists.status = data.get('Status')
        house_exists.date_listed = convert_relative_timestamp(data.get('Date of Status'))
    else:
        address_parts = address.split(',')
        city = address_parts[1].split(' - ')[0].strip()
        address = address_parts[0]

        new_house = House(
            address=address,
            status=data.get('Status'),
            latitude=data.get('Latitude'),
            longitude=data.get('Longitude'),
            floor_size=data.get('Floor Size'),
            bedrooms=data.get('Bedrooms'),
            bathrooms=data.get('Bathrooms'),
            garage=data.get('Garage'),
            city=city,  
            type_of_house=data.get('Type of House'),
            date_listed=convert_relative_timestamp(data.get('Date of Status')),
            neighbourhood=data.get('Neighbourhood'),
            price_listed=float(data.get('Price Listed').replace('$', '').replace(',', ''))
        )
        session.add(new_house)

OperationalError: (sqlite3.OperationalError) no such column: houses.price_listed
[SQL: SELECT houses.id AS houses_id, houses.address AS houses_address, houses.status AS houses_status, houses.latitude AS houses_latitude, houses.longitude AS houses_longitude, houses.floor_size AS houses_floor_size, houses.bedrooms AS houses_bedrooms, houses.bathrooms AS houses_bathrooms, houses.garage AS houses_garage, houses.city AS houses_city, houses.type_of_house AS houses_type_of_house, houses.date_listed AS houses_date_listed, houses.neighbourhood AS houses_neighbourhood, houses.price_listed AS houses_price_listed
FROM houses
WHERE houses.address = ?
 LIMIT ? OFFSET ?]
[parameters: ('408 - 2391 Central Park Dr , Oakville - River Oaks', 1, 0)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [138]:
for data in data_list:
    address = data.get('Address')
    status = data.get('Status')

    if status in ["Sold", "Sold Conditional"]:
        sold_house = session.query(Sold).filter_by(address=address).first()

        if sold_house:
            sold_house.status = status
            sold_house.date_listed = convert_relative_timestamp(data.get('Date of Status'))
            sold_house.sold_price = float(str(data.get('Sold Price')).replace('$', '').replace(',', ''))
        else:
            address_parts = address.split(',')
            city = address_parts[1].split(' - ')[0].strip()
            address = address_parts[0]
            new_sold_house = Sold(
                address=address,
                price=float(data.get('Price Listed').replace('$', '').replace(',', '')),
                status=status,
                date_listed=convert_relative_timestamp(data.get('Date of Status')),
                sold_price=float(str(data.get('Sold Price')).replace('$', '').replace(',', '')),
                city=city,
                type_of_house=data.get('Type of House'),
                neighbourhood=data.get('Neighbourhood')
            )
            session.add(new_sold_house)

In [86]:
session.commit()

In [88]:
sold_count = session.query(func.count(Sold.id)).scalar()
house_count = session.query(func.count(House.id)).scalar()

print("Number of records in Sold table:", sold_count)
print("Number of records in House table:", house_count)

Number of records in Sold table: 1
Number of records in House table: 10

In [147]:
session.close()

In [90]:
browser.quit()

In [99]:
class WeatherData(Base):
    __tablename__ = 'weather_data'

    id = Column(String, primary_key=True) 
    heating_degree_days = Column(Float)
    min_temperature = Column(Float)
    local_date = Column(String)
    station_name = Column(String)
    cooling_degree_days = Column(Float)
    local_month = Column(Integer)
    local_day = Column(Integer)
    local_year = Column(Integer)
    total_precipitation = Column(Float)
    snow_on_ground = Column(Float)
    mean_temperature = Column(Float)
    total_snow = Column(Float)
    total_rain = Column(Float)
    max_temperature = Column(Float)

conn = engine.connect()
Base.metadata.create_all(conn)
session = Session(bind=engine)
engine = create_engine('sqlite:///oakville_housing_weather.db')

weather_data_instances = []

for index, row in df_weather.iterrows():
    weather_data_instance = WeatherData(
        id=row['ID'],
        heating_degree_days=row['HEATING_DEGREE_DAYS'],
        min_temperature=row['MIN_TEMPERATURE'],
        local_date=row['LOCAL_DATE'],
        station_name=row['STATION_NAME'],
        cooling_degree_days=row['COOLING_DEGREE_DAYS'],
        local_month=row['LOCAL_MONTH'],
        local_day=row['LOCAL_DAY'],
        local_year=row['LOCAL_YEAR'],
        total_precipitation=row['TOTAL_PRECIPITATION'],
        snow_on_ground=row['SNOW_ON_GROUND'],
        mean_temperature=row['MEAN_TEMPERATURE'],
        total_snow=row['TOTAL_SNOW'],
        total_rain=row['TOTAL_RAIN'],
        max_temperature=row['MAX_TEMPERATURE']
    )
    weather_data_instances.append(weather_data_instance)

In [101]:
session = Session(bind=engine)
session.add_all(weather_data_instances)
session.commit()
weather_count = session.query(func.count(WeatherData.id)).scalar()


print("Number of records in Weather table:", weather_count)

Number of records in Weather table: 5894

In [102]:
session.close()

In [103]:
engine = create_engine('sqlite:///oakville_housing_weather.db')
connection = engine.connect()

In [109]:
from sqlalchemy import select, func

query = select().where(weather_data.c.local_year == '1993')
query = query.add_columns(
    weather_data.c.id,
    weather_data.c.heating_degree_days,
    weather_data.c.min_temperature,
)

result = connection.execute(query)

weather_data_1993 = result.fetchall()

connection.close()

In [110]:
for row in weather_data_1993:
    print(row)

('6155PD4.1993.1.1', 23.5, -8.0)
('6155PD4.1993.1.2', 20.8, -6.0)
('6155PD4.1993.1.3', 14.0, -2.5)
('6155PD4.1993.1.4', 9.5, 5.0)
('6155PD4.1993.1.5', 16.5, 0.0)
('6155PD4.1993.1.6', 18.3, -2.0)
('6155PD4.1993.1.7', 18.3, -2.5)
('6155PD4.1993.1.8', 20.0, -4.0)
('6155PD4.1993.1.9', 24.8, -8.0)
('6155PD4.1993.1.10', 25.3, -11.0)
('6155PD4.1993.1.11', 23.5, -8.0)
('6155PD4.1993.1.12', 21.5, -6.0)
('6155PD4.1993.1.13', 21.0, -4.5)
('6155PD4.1993.1.14', 25.0, -10.0)
('6155PD4.1993.1.15', 20.8, -6.5)
('6155PD4.1993.1.16', 21.3, -6.0)
('6155PD4.1993.1.17', 19.5, -4.0)
('6155PD4.1993.1.18', 25.5, -11.5)
('6155PD4.1993.1.19', 22.8, -10.5)
('6155PD4.1993.1.20', 21.5, -9.5)
('6155PD4.1993.1.21', 21.0, -9.5)
('6155PD4.1993.1.22', 15.5, 1.5)
('6155PD4.1993.1.23', 15.2, 0.5)
('6155PD4.1993.1.24', 15.5, 1.5)
('6155PD4.1993.1.25', 21.0, -5.0)
('6155PD4.1993.1.26', 22.8, -11.5)
('6155PD4.1993.1.27', 19.3, -4.0)
('6155PD4.1993.1.28', 22.0, -10.0)
('6155PD4.1993.1.29', 25.3, -10.0)
('6155PD4.1993.1.30', 22.0, -9.5)
('6155PD4.1993.1.31', 20.5, -9.5)
('6155PD4.1993.2.1', 31.0, -17.0)
('6155PD4.1993.2.2', 27.3, -17.5)
('6155PD4.1993.2.3', 18.5, -5.5)
('6155PD4.1993.2.4', 20.0, -6.5)
('6155PD4.1993.2.5', 16.7, -3.5)
('6155PD4.1993.2.6', 33.0, -19.0)
('6155PD4.1993.2.7', 25.3, -14.5)
('6155PD4.1993.2.8', 23.8, -8.5)
('6155PD4.1993.2.9', 24.3, -12.5)
('6155PD4.1993.2.10', 18.0, -4.0)
('6155PD4.1993.2.11', 23.3, -8.0)
('6155PD4.1993.2.12', 21.3, -6.0)
('6155PD4.1993.2.13', 21.5, -5.5)
('6155PD4.1993.2.14', 21.5, -8.0)
('6155PD4.1993.2.15', 19.3, -4.0)
('6155PD4.1993.2.16', 19.3, -3.0)
('6155PD4.1993.2.17', 23.5, -8.5)
('6155PD4.1993.2.18', 30.0, -15.0)
('6155PD4.1993.2.19', 31.0, -19.0)
('6155PD4.1993.2.20', 24.5, -10.5)
('6155PD4.1993.2.21', 21.5, -6.0)
('6155PD4.1993.2.22', 24.3, -8.5)
('6155PD4.1993.2.23', 26.3, -10.5)
('6155PD4.1993.2.24', 29.5, -16.5)
('6155PD4.1993.2.25', 27.8, -16.0)
('6155PD4.1993.2.26', 25.0, -12.5)
('6155PD4.1993.2.27', 23.5, -10.0)
('6155PD4.1993.2.28', 25.3, -14.5)
('6155PD4.1993.3.1', 20.3, -5.5)
('6155PD4.1993.3.2', 18.3, -7.0)
('6155PD4.1993.3.3', 18.3, -5.0)
('6155PD4.1993.3.4', 17.2, 0.0)
('6155PD4.1993.3.5', 18.8, -2.0)
('6155PD4.1993.3.6', 17.7, -2.0)
('6155PD4.1993.3.7', 20.3, -10.5)
('6155PD4.1993.3.8', 15.0, 1.5)
('6155PD4.1993.3.9', 18.3, -3.0)
('6155PD4.1993.3.10', 23.5, -10.0)
('6155PD4.1993.3.11', 21.8, -9.0)
('6155PD4.1993.3.12', 27.5, -15.0)
('6155PD4.1993.3.13', 25.8, -10.5)
('6155PD4.1993.3.14', 29.0, -14.0)
('6155PD4.1993.3.15', 23.5, -14.0)
('6155PD4.1993.3.16', 18.3, -4.5)
('6155PD4.1993.3.17', 24.3, -9.5)
('6155PD4.1993.3.18', 28.3, -16.0)
('6155PD4.1993.3.19', 24.8, -13.5)
('6155PD4.1993.3.20', 17.7, -2.0)
('6155PD4.1993.3.21', 15.7, 0.0)
('6155PD4.1993.3.22', 17.5, -4.0)
('6155PD4.1993.3.23', 19.0, -5.0)
('6155PD4.1993.3.24', 15.5, 1.0)
('6155PD4.1993.3.25', 16.5, -2.0)
('6155PD4.1993.3.26', 16.7, -3.5)
('6155PD4.1993.3.27', 17.0, -5.5)
('6155PD4.1993.3.28', 12.7, -1.0)
('6155PD4.1993.3.29', 9.7, 4.5)
('6155PD4.1993.3.30', 10.7, 1.0)
('6155PD4.1993.3.31', 14.0, 0.5)
('6155PD4.1993.4.1', 17.2, 0.0)
('6155PD4.1993.4.2', 16.7, 0.5)
('6155PD4.1993.4.3', 16.7, -1.0)
('6155PD4.1993.4.4', 14.5, 0.0)
('6155PD4.1993.4.5', 15.2, -3.0)
('6155PD4.1993.4.6', 13.0, 1.5)
('6155PD4.1993.4.7', 13.5, -2.0)
('6155PD4.1993.4.8', 10.0, 4.0)
('6155PD4.1993.4.9', 8.2, 4.5)
('6155PD4.1993.4.10', 9.7, 6.5)
('6155PD4.1993.4.11', 14.7, -1.5)
('6155PD4.1993.4.12', 12.5, 2.0)
('6155PD4.1993.4.13', 13.0, -1.5)
('6155PD4.1993.4.14', 14.0, -2.0)
('6155PD4.1993.4.15', 10.7, 4.5)
('6155PD4.1993.4.16', 6.2, 7.5)
('6155PD4.1993.4.17', 11.0, 3.5)
('6155PD4.1993.4.18', 11.5, -2.0)
('6155PD4.1993.4.19', 9.5, 2.5)
('6155PD4.1993.4.20', 6.7, 2.5)
('6155PD4.1993.4.21', 14.0, 1.0)
('6155PD4.1993.4.22', 11.5, -0.5)
('6155PD4.1993.4.23', 5.7, 6.0)
('6155PD4.1993.4.24', 10.0, 0.5)
('6155PD4.1993.4.25', 7.2, 7.5)
('6155PD4.1993.4.26', 11.7, 4.0)
('6155PD4.1993.4.27', 15.0, -3.0)
('6155PD4.1993.4.28', 12.2, 0.5)
('6155PD4.1993.4.29', 9.0, 4.0)
('6155PD4.1993.4.30', 3.2, 7.5)
('6155PD4.1993.5.1', 7.7, 4.0)
('6155PD4.1993.5.2', 7.5, 9.5)
('6155PD4.1993.5.3', 5.5, 8.0)
('6155PD4.1993.5.4', 5.5, 10.0)
('6155PD4.1993.5.5', 2.5, 9.0)
('6155PD4.1993.5.6', 2.2, 7.5)
('6155PD4.1993.5.7', 7.7, 7.0)
('6155PD4.1993.5.8', 9.2, 2.5)
('6155PD4.1993.5.9', 3.0, 5.5)
('6155PD4.1993.5.10', 0.0, 9.5)
('6155PD4.1993.6.14', 0.0, 11.0)
('6155PD4.1993.6.15', 0.0, 18.5)
('6155PD4.1993.6.16', 3.5, 9.0)
('6155PD4.1993.6.17', 2.2, 11.0)
('6155PD4.1993.6.18', 0.0, 13.5)
('6155PD4.1993.6.19', 0.0, 18.0)
('6155PD4.1993.6.20', 0.2, 15.0)
('6155PD4.1993.6.21', 0.0, 15.0)
('6155PD4.1993.6.22', 0.0, 15.0)
('6155PD4.1993.6.23', 2.0, 10.0)
('6155PD4.1993.6.24', 2.7, 7.5)
('6155PD4.1993.6.25', 0.0, 14.0)
('6155PD4.1993.6.26', 0.0, 17.0)
('6155PD4.1993.6.27', 0.0, 16.0)
('6155PD4.1993.6.28', 0.0, 13.0)
('6155PD4.1993.6.29', 1.0, 11.0)
('6155PD4.1993.6.30', 3.0, 8.0)
('6155PD4.1993.7.1', 0.0, 16.5)
('6155PD4.1993.7.2', 0.0, 17.5)
('6155PD4.1993.7.3', 0.0, 16.5)
('6155PD4.1993.7.4', 0.0, 17.0)
('6155PD4.1993.7.5', 0.0, 17.0)
('6155PD4.1993.7.6', 0.0, 22.0)
('6155PD4.1993.7.7', 0.0, 21.5)
('6155PD4.1993.7.8', 0.0, 21.0)
('6155PD4.1993.7.9', 0.0, 20.5)
('6155PD4.1993.7.10', 0.0, 17.0)
('6155PD4.1993.7.11', 0.0, 17.0)
('6155PD4.1993.7.12', 0.0, 18.0)
('6155PD4.1993.7.13', 0.0, 15.5)
('6155PD4.1993.7.14', 0.0, 17.0)
('6155PD4.1993.7.15', 0.0, 13.0)
('6155PD4.1993.7.16', 0.0, 13.0)
('6155PD4.1993.7.17', 0.0, 15.5)
('6155PD4.1993.7.18', 0.0, 13.0)
('6155PD4.1993.7.19', 0.0, 16.5)
('6155PD4.1993.7.20', 0.0, 17.0)
('6155PD4.1993.7.21', 0.0, 14.5)
('6155PD4.1993.7.22', 0.0, 13.5)
('6155PD4.1993.7.23', 0.0, 14.0)
('6155PD4.1993.7.24', 0.0, 13.0)
('6155PD4.1993.7.25', 0.0, 14.0)
('6155PD4.1993.7.26', 0.0, 17.5)
('6155PD4.1993.7.27', 0.0, 20.0)
('6155PD4.1993.7.28', 0.0, 19.0)
('6155PD4.1993.7.29', 0.0, 19.5)
('6155PD4.1993.7.30', 0.0, 15.5)
('6155PD4.1993.7.31', 0.0, 16.5)
('6155PD4.1993.8.1', 0.0, 13.5)
('6155PD4.1993.8.2', 0.0, 16.0)
('6155PD4.1993.8.3', 0.0, 16.0)
('6155PD4.1993.8.4', 0.0, 17.0)
('6155PD4.1993.8.5', 0.7, 10.0)
('6155PD4.1993.8.6', 1.7, 10.0)
('6155PD4.1993.8.7', 0.2, 14.5)
('6155PD4.1993.8.8', 0.0, 12.5)
('6155PD4.1993.8.9', 0.2, 12.0)
('6155PD4.1993.8.10', 0.0, 17.0)
('6155PD4.1993.8.11', 0.0, 19.5)
('6155PD4.1993.8.12', 0.0, 15.5)
('6155PD4.1993.8.13', 0.0, 17.0)
('6155PD4.1993.8.14', 0.0, 16.5)
('6155PD4.1993.8.15', 0.0, 18.0)
('6155PD4.1993.8.16', 0.0, 20.0)
('6155PD4.1993.8.17', 0.0, 20.0)
('6155PD4.1993.8.18', 0.0, 18.5)
('6155PD4.1993.8.19', 0.0, 16.5)
('6155PD4.1993.8.20', 0.0, 21.0)
('6155PD4.1993.8.21', 1.2, 12.0)
('6155PD4.1993.8.22', 1.2, 9.5)
('6155PD4.1993.8.23', 0.0, 12.0)
('6155PD4.1993.8.24', 0.0, 18.5)
('6155PD4.1993.8.25', 0.0, 19.5)
('6155PD4.1993.8.26', 0.0, 17.5)
('6155PD4.1993.8.27', 0.0, 20.0)
('6155PD4.1993.8.28', 0.0, 19.5)
('6155PD4.1993.8.29', 0.0, 15.0)
('6155PD4.1993.8.30', 0.0, 17.0)
('6155PD4.1993.8.31', 0.0, 20.0)
('6155PD4.1993.9.1', 0.0, 13.0)
('6155PD4.1993.9.2', 0.0, 12.5)
('6155PD4.1993.9.3', 0.0, 18.5)
('6155PD4.1993.9.4', 0.0, 15.5)
('6155PD4.1993.9.5', 0.0, 13.0)
('6155PD4.1993.9.6', 3.2, 12.0)
('6155PD4.1993.9.7', 3.5, 8.0)
('6155PD4.1993.9.8', 1.7, 10.0)
('6155PD4.1993.9.9', 2.2, 8.5)
('6155PD4.1993.9.10', 3.0, 11.0)
('6155PD4.1993.9.11', 5.7, 6.5)
('6155PD4.1993.9.12', 2.0, 11.0)
('6155PD4.1993.9.13', 0.0, 14.0)
('6155PD4.1993.9.14', 0.0, 19.5)
('6155PD4.1993.9.15', 2.5, 13.5)
('6155PD4.1993.9.16', 6.7, 7.0)
('6155PD4.1993.9.17', 3.7, 10.5)
('6155PD4.1993.9.18', 1.5, 12.0)
('6155PD4.1993.9.19', 8.0, 6.0)
('6155PD4.1993.9.20', 9.7, 3.0)
('6155PD4.1993.9.21', 6.2, 6.0)
('6155PD4.1993.9.22', 5.5, 6.0)
('6155PD4.1993.9.23', 1.0, 12.0)
('6155PD4.1993.9.24', 5.0, 5.0)
('6155PD4.1993.9.25', 5.7, 5.0)
('6155PD4.1993.9.26', 0.7, 13.0)
('6155PD4.1993.9.27', 5.5, 9.5)
('6155PD4.1993.9.28', 7.2, 8.0)
('6155PD4.1993.9.29', 10.7, 2.5)
('6155PD4.1993.9.30', 11.5, 0.0)
('6155PD4.1993.10.1', 9.0, 0.0)
('6155PD4.1993.10.2', 5.2, 10.5)
('6155PD4.1993.10.3', 7.7, 4.0)
('6155PD4.1993.10.4', 7.7, 7.0)
('6155PD4.1993.10.5', 10.7, -0.5)
('6155PD4.1993.10.6', 8.7, 1.5)
('6155PD4.1993.10.7', 1.0, 8.0)
('6155PD4.1993.10.8', 0.0, 12.5)
('6155PD4.1993.10.9', 12.2, 4.0)
('6155PD4.1993.10.10', 15.0, -3.0)
('6155PD4.1993.10.11', 12.7, -2.0)
('6155PD4.1993.10.12', 9.5, 2.5)
('6155PD4.1993.10.13', 14.7, -2.5)
('6155PD4.1993.10.14', 14.2, -2.5)
('6155PD4.1993.10.15', 11.0, 0.5)
('6155PD4.1993.10.16', 8.2, 5.0)
('6155PD4.1993.10.17', 4.0, 11.0)
('6155PD4.1993.10.18', 9.2, 4.0)
('6155PD4.1993.10.19', 11.5, 2.0)
('6155PD4.1993.10.20', 7.7, 3.0)
('6155PD4.1993.10.21', 5.5, 9.0)
('6155PD4.1993.10.22', 10.7, 5.5)
('6155PD4.1993.10.23', 12.0, -0.5)
('6155PD4.1993.10.24', 4.2, 6.5)
('6155PD4.1993.10.25', 10.5, 4.5)
('6155PD4.1993.10.26', 8.7, 5.0)
('6155PD4.1993.10.27', 7.2, 8.0)
('6155PD4.1993.10.28', 12.0, 2.0)
('6155PD4.1993.10.29', 8.7, 7.5)
('6155PD4.1993.10.30', 15.0, -1.5)
('6155PD4.1993.10.31', 15.0, 2.0)
('6155PD4.1993.11.1', 15.2, 0.0)
('6155PD4.1993.11.2', 16.5, -4.5)
('6155PD4.1993.11.3', 11.2, 4.5)
('6155PD4.1993.11.4', 11.2, 3.0)
('6155PD4.1993.11.5', 6.7, 7.0)
('6155PD4.1993.11.6', 16.7, 0.0)
('6155PD4.1993.11.7', 16.7, -2.0)
('6155PD4.1993.11.8', 14.2, -1.5)
('6155PD4.1993.11.9', 13.0, -1.0)
('6155PD4.1993.11.10', 15.5, -3.0)
('6155PD4.1993.11.11', 11.0, 1.5)
('6155PD4.1993.11.12', 11.7, 1.5)
('6155PD4.1993.11.13', 10.2, -0.5)
('6155PD4.1993.11.14', 8.0, 9.0)
('6155PD4.1993.11.15', 9.0, 6.5)
('6155PD4.1993.11.16', 14.5, 0.0)
('6155PD4.1993.11.17', 13.5, 2.5)
('6155PD4.1993.11.18', 15.2, -2.0)
('6155PD4.1993.11.19', 13.0, 1.0)
('6155PD4.1993.11.20', 18.5, -2.5)
('6155PD4.1993.11.21', 13.5, -2.0)
('6155PD4.1993.11.22', 9.2, 5.5)
('6155PD4.1993.11.23', 15.0, 1.5)
('6155PD4.1993.11.24', 16.0, 0.5)
('6155PD4.1993.11.25', 20.3, -6.5)
('6155PD4.1993.11.26', 16.2, -1.5)
('6155PD4.1993.11.27', 12.7, 4.0)
('6155PD4.1993.11.28', 15.5, 0.5)
('6155PD4.1993.11.29', 18.8, -4.5)
('6155PD4.1993.11.30', 18.3, -2.5)
('6155PD4.1993.12.1', 18.0, -4.0)
('6155PD4.1993.12.2', 14.7, -3.0)
('6155PD4.1993.12.3', 13.2, 1.5)
('6155PD4.1993.12.4', 15.5, 0.5)
('6155PD4.1993.12.5', 14.7, 1.5)
('6155PD4.1993.12.6', 14.7, 2.0)
('6155PD4.1993.12.7', 15.7, 1.0)
('6155PD4.1993.12.8', 17.5, -4.0)
('6155PD4.1993.12.9', 14.0, -0.5)
('6155PD4.1993.12.10', 11.0, 3.0)
('6155PD4.1993.12.11', 24.8, -7.5)
('6155PD4.1993.12.12', 22.5, -11.0)
('6155PD4.1993.12.13', 18.0, -6.0)
('6155PD4.1993.12.14', 16.5, -2.0)
('6155PD4.1993.12.15', 13.7, -1.0)
('6155PD4.1993.12.16', 17.2, -2.0)
('6155PD4.1993.12.17', 19.5, -5.5)
('6155PD4.1993.12.18', 16.2, -1.5)
('6155PD4.1993.12.19', 14.7, 1.0)
('6155PD4.1993.12.20', 15.7, 1.5)
('6155PD4.1993.12.21', 15.5, 1.5)
('6155PD4.1993.12.22', 18.8, -3.5)
('6155PD4.1993.12.23', 27.3, -14.0)
('6155PD4.1993.12.24', 24.8, -11.5)
('6155PD4.1993.12.25', 24.5, -8.0)
('6155PD4.1993.12.26', 33.3, -18.0)
('6155PD4.1993.12.27', 32.0, -19.5)
('6155PD4.1993.12.28', 27.5, -13.0)
('6155PD4.1993.12.29', 26.8, -14.5)
('6155PD4.1993.12.30', 25.8, -11.0)
('6155PD4.1993.12.31', 22.5, -10.5)

In [ ]:
engine = create_engine('sqlite:///housing_sales.db')
connection = engine.connect()

In [ ]:
query = select().where(house.c.status == 'For Sale')
query = query.add_columns(
    house.c.address,
    house.c.status,
    house.c.price,
)

result = connection.execute(query)

housesin = result.fetchall()

connection.close()